#nav {
    display: flex;
    justify-content: space-between;

}

.nav-position {
    display: flex;
    justify-content: space-evenly;
    color: #4B4B4B;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    /*background: aqua;*/
}

.nav-position > p:hover {
    text-decoration: underline;
    cursor: pointer;

}

#left {
    width: 120px;
}


#right {
    width: 200px;

}

#right img {

    border-radius: 50%;
    margin-top: -5px;
    /*width: 25px;*/
    height: 30px;
}

#abbr {
    border-radius: 50%;

}

#center {
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    align-items: center;

}

#center p{

    border-radius: 10%;

    display: flex;

    justify-content: space-between;


}

/*#bottom {*/

/*    display: flex;*/

/*    justify-content: space-between;*/
/*    */
/*}*/


#bottom p{
    display: flex;
    justify-content: space-between;
    background: gray;
    padding: 10px;
    border-radius: 3%;
    margin: 5px;
    box-shadow: #4B4B4B;

}

#center form input{
    border-color: #4B4B4B;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px 100px;
    border-radius: 10% 10%;
}
