#nav {
    display: flex;
    justify-content: space-between;

}

.nav-position {
    display: inline-flex;
    justify-content: space-between;
    color: #4B4B4B;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;

}


.nav-position > p:hover {
    text-decoration: underline;
    cursor: pointer;
    box-shadow: #4B4B4B;
}


#left {
    width: 90px;
    display: flex;
    object-position: initial;
}


#right {
    width: 200px;


}

#right img {

    border-radius: 50%;
    margin-top: 9px;
    width: 30px;
    height: 30px;
    background-color: white;
}

#center {
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    align-items: center;

}

#bottom p{
    display: flex;
    justify-content: space-between;
    background: lightgray;
    padding: 10px;
    border-radius: 4px;
    margin: 24px 4px;
    border-color: black;

}

.quest{
    display: inline-flex;
    justify-content: center;
    position: relative;
    border-style: none;
    width:38rem;

}

.search:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px gray;
}

.search{
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    border-radius: 10rem;

}
.quest img{
    display: flex;
    justify-content: end;
    position: relative;
    height: 25px;
    margin: 5px;

}
.quest input{
    display:flex;
    border-color: white;
    }

.na-position{
    display: flex;
    justify-content: space-evenly;
    color: #4B4B4B;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;

}
.na-position p{
    border: 2px groove;
}

.na-position > p:hover{

    text-decoration: underline;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px gray;


}
